<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
    <h1>Links</h1>
    <p>localhost:8000/api/car/      - list all the cars</p>
    <p>localhost:8000/api/car/create/     - to create new car details</p>
    <p>localhost:8000/api/car/id/     - details of specific car</p>
    <p>localhost:8000/api/car/id/update/     - update details of specific car</p>
    <p>localhost:8000/api/car/id/delete/        - delete details of specific car</p>
</body>
</html>